
  ::-webkit-scrollbar {
    width:10px;
    border-radius:10px;
}

::-webkit-scrollbar-thumb:hover {
    background:#285d33;
}   

::-webkit-scrollbar-thumb {
    background:white;
    border-radius:10px;
    border:solid 1px rgba(0,0,0,0.25);
}

::-webkit-scrollbar-track {
    border-radius:10px;
    box-shadow:inset 0px 0px 5px rgba(0,0,0,0.25);
}

::-webkit-input-placeholder{
    color: #285d33;
    font-weight: bold;
}

.desmatamento { 
    width:600px;
    height:300px;
    overflow-y:scroll;
    border:solid 2px #285d33;
    border-radius:10px;   
}
td , center { border:solid 2px #cff }