<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

RewriteEngine On
RewriteBase /DesmataMenos/api/

# Redirecionar api/queimadas/locale/{state} para queimadas.php?state={state}
RewriteRule ^queimadas/locale/([^/]+)$ queimadas.php?state=$1 [L]

# Redirecionar api/locale para locale.php?state={state}
RewriteRule ^locale$ locale.php [L]
